@use "../../styles/helpers/" as *;

.librarian {
  padding: rem(40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(40);

  &__title {
    text-align: center;
  }
}
