@use "../../styles/helpers/" as *;

.users {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(30);
    padding: rem(20) rem(15);
    outline: rem(1) solid var(--color-border);
    border-radius: rem(10);
    @include mobile {
      flex-direction: column;
    }
  }

  &__data {
    @include fluid-text(20, 18);
    font-weight: var(--fw-600);
    margin-right: auto;
  }

  &__delete {
    background-color: var(--color-delete);
    color: var(--color-white);
    border-radius: rem(10);
    border: none;
    padding: rem(15) rem(20);
  }

  &__edit {
    background-color: var(--color-accent);
    border: none;
    color: var(--color-white);
    padding: rem(15) rem(20);
    border-radius: rem(10);
  }
}
