@import "../../styles/helpers/";

.home {
  padding: rem(40) 0;
  text-align: center;
  gap: rem(50);

  &__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(30);
  }
}
