@use "../../styles/helpers/" as *;

.header {
  background-color: var(--color-header);
  padding: 0 rem(10);
  &__container {
    padding: rem(20) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include fluid-text(20, 18);
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: rem(10);

    &:hover {
      color: var(--color-links);
    }
  }

  &__overlay {
    display: flex;

    @include tablet-s-above {
      display: contents;
    }
    @include tablet-s {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: rem(40);
      background-color: var(--color-white);
      position: fixed;
      inset: 0;
      transition-duration: var(--td);

      &:not(.isActive) {
        @include visually-hidden;
        translate: 100%;
      }
    }
  }

  &__login {
    @include fluid-text(18, 16);
    padding: rem(10) rem(20);
    background-color: var(--color-login);
    color: var(--color-white);
    border-radius: rem(5);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-login);
      outline: rem(1) solid var(--color-login);
      transform: scale(0.85);
      transition-duration: var(--td);
    }
  }
  &__button {
    @include fluid-text(18, 16);
    border: none;
    padding: rem(10) rem(20);
    background-color: var(--color-login);
    color: var(--color-white);
    border-radius: rem(5);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-login);
      outline: rem(1) solid var(--color-login);
      transform: scale(0.85);
    }
  }
}
