@use "../../../styles/helpers/" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20);

  &__content {
    background: var(--color-white);
    padding: rem(40);
    border-radius: rem(8);
    position: relative;

    @include mobile {
      padding: rem(20) rem(30);
    }
  }

  &__btn {
    position: absolute;
    top: rem(0);
    right: rem(0);
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
  }
}
