@use "../../styles/helpers/" as *;

.admin {
  padding: rem(40) 0;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__btn {
    max-width: rem(200);
    padding: rem(15);
    align-self: flex-end;
    border: rem(1) solid var(--color-accent);
    border-radius: rem(10);
    margin-bottom: rem(30);
  }
}
